PORT=5000
NODE_ENV=development
CLIENT_ENDPOINT="http://localhost:3000"

# Supabase Configuration (backend will use Supabase client)
SUPABASE_URL="https://cwbobklimbexftagrouh.supabase.co"
SUPABASE_SERVICE_KEY=
ACCESS_TOKEN_SECRET=
REFRESH_TOKEN_SECRET=
GEMINI_API_KEY=your_gemini_api_key_here

DEFAULT_GROUP_PICTURE="https://cdn.sanity.io/images/kts928pd/production/d4f96a14f70da85a81bbfa8eeb05c054439dfef5-731x731.png"

DEFAULT_PICTURE="https://upload.wikimedia.org/wikipedia/commons/thumb/5/59/User-avatar.svg/1200px-User-avatar.svg.png"

DEFAULT_STATUS="Hey there! I am using WhatsApp."
